.App {
  text-align: center;
}

.currency{
  border: 1px solid;
  padding: 5px 5px 15px;
  top: 30px;
  border-radius: 10px;
}

.HeadCurr{
  border-bottom: 1px solid;
  padding-top: 5px;
}

ul{
  padding: 0px;
}

.listItem{
  margin-top : 15px;  
  list-style: none;
}

.AddCurr{
  margin-top: 10px;
}

.Detail{
  font-style: italic;
  font-weight: bold;
  
}

.oneRate{
  font-style: italic;
}

.btn-success {
  text-align: left;
}

.contentCurr{
  border: 1px solid;
  margin: 0px 0px 10px;
  padding: 5px 0px;
  text-align: left;
}

.actionContent{
  border: 1px solid;
  height: 72px;
  padding-top: 19px; 
}

.right{
  text-align: right;
}